span {
    padding: 4px 10px 6px;
    border: 1px solid black;
    border-radius: 5px;
}

.black {
    color: black;
    border-color: black;
}

.red {
    color: red;
    border-color: red;
}

.blue {
    color: blue;
    border-color: blue;
}
